@font-face {
  font-family: 'Roboto';
  src: local('Roboto-Regular'),
  url('/fonts/Roboto-Regular/Roboto-Regular.woff2') format('woff2'),
  url('/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}